<div class="form-container">
  <div class="form-title">
    <h2>Log in to Slack</h2>
    <p>slack.com</p>
  </div>

  <p>Enter tour <strong>email adress</strong> and <strong>password</strong>.</p>

  <form action="/process-login" method="POST">
    <input type="text" placeholder="you@example.com" name="email">
    <input type="password" placeholder="secret password ! Shuuuut !" name="originalPassword">
    <input type="submit" value="Sign in">
  </form>
</div>

<div class="signup-invite">
  <p>New to Slack? <a href="/signup">Create a new account</a></p>
</div>