<li>
  <div class="avatar"><img src="{{ this.avatar }}" alt=""></div>
  <div class="msg">
    <div class="msg-metatdata">
      <div class="msg-sender">
        {{ this.senderId }}
      </div>
      <div class="msg-sending-time">
        {{ this.timestamp }}
      </div>
    </div>
    <div class="msg-content">
      {{ this.content }}
    </div>
  </div>
</li>