<li>
  <div class="avatar"><img src="{{ avatar }}" alt=""></div>
  <div class="msg">
    <div class="msg-metatdata">
      <div class="msg-sender">
        {{ senderId }}
      </div>
      <div class="msg-sending-time">
        {{ timestamp }}
      </div>
    </div>
    <div class="msg-content">
      {{ content }}
    </div>
  </div>
</li>