<li>
  <div class="avatar"><img src="assets/avatars/avatar-7.png" alt=""></div>
  <div class="msg">
    <div class="msg-metatdata">
      <div class="msg-sender">
        {{ message.senderId }}
      </div>
      <div class="msg-sending-time">
        {{ message.timestamp }}
      </div>
    </div>
    <div class="msg-content">
      {{ message.content }}
    </div>
  </div>
</li>