<li>
  <div class="avatar"><img src="{{ this.senderAvatar }}" alt=""></div>
  <div class="msg">
    <div class="msg-metatdata">
      <div class="msg-sender">
        {{ this.senderName }}
      </div>
      <div class="msg-sending-time">
        {{ this.displayTime }}
      </div>
    </div>
    <div class="msg-content">
      {{ this.message.content }}
    </div>
  </div>
</li>