<!--Layout when connected to a channel-->
<div class="header">
  <h3>#{{channelName}}</h3>
  <div class="meta-conv">

    <div class="item favorite">
      <i class="far fa-star"></i>
    </div>

    <div class="separator">|</div>

    <div class="item persons-count">
      <i class="far fa-user"></i>
      <span>{{nbUsersChannel}}</span>
    </div>

     <div class="separator">|</div>

    <div class="item add-user">
      <a href="/ws/{{workspaceName}}/{{channelId}}/addUser"><i class="fas fa-user-plus"></i></a>
    </div>

  </div>
</div>

<div class="message-container">
  {{> flash_messages}}
  <!--<div class="inner-container">-->
    <ul id="msg-ul">
      {{#each chatMessages}}
        {{> message}}
      {{/each}}
    </ul>
  <!--</div>-->

</div>

<div class="input-container">
  <div class="input">

    <div class="btn-attachment"><i class="fas fa-plus"></i></div>
    <input id="msg-input" placeholder="Envoyer un message à code-help" type="text">

  </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/socket/messageSocketSchemas.js"></script>
<script src="/socket/SocketManager.js"></script>
<script src="/assets/js/MessageSocketSender.js"></script>
<script src="/assets/js/MessageSocketListenner.js"></script>
<script src="/assets/js/MessageDomHandler.js"></script>
<script src="/assets/js/socketIndex.js"></script>