<div class="channel-create">
  {{> flash_messages}}
  <h1>Create a new channel 🚀</h1>
  <p class="desc">Channels are where members communicate. They're best when organized around a topic - #leads for example</p>

  <p class="invite">Once your channel created, you can invite people to join it ! 👫</p>

  <form action="/ws/{{workspaceName}}/create-group-channel-process" method="post">
    <div class="input-element">
      <label for="">Name</label>
      <div class="channel-create-input-container">
        <i class="fas fa-hashtag"></i>
        <input type="text" placeholder="eg.leads" name="channelName">
      </div>

      <p class="info-form">Names must be lowercase, without spaces or periods, and shorter than 22 characters</p>

      <div class="buttons">
        <a class="btn-cancel btn-form" href="/ws/{{workspaceName}}">Cancel</a>
        <button class="btn-submit btn-form">Create Channel</button>
      </div>
    </div>

  </form>
</div>

