<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Slack - Sign In</title>
  <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>

<div class="container">


  <header>

    <nav>
      <!--<div class="home-logo"><img src="/assets/images/iso-slack.png" alt=""></div>-->
      <div class="home-logo"></div>
      <ul class="menu">
        <li><a href="#0">Product</a></li>
        <li><a href="#0">Pricing</a></li>
        <li><a href="#0">Support</a></li>
        <li><a href="#0">Create a new workspace</a></li>
        <li><a href="#0">Find your workspace</a></li>
        <li class="btn-signin"><a href="#0">Sign in</a></li>
      </ul>
    </nav>

  </header>

  <main>

    <div class="form-container">
      <div class="form-title">
        <h2>Sign in to Slack</h2>
        <p>slack.com</p>
      </div>

      <p>Enter tour <strong>email adress</strong> and <strong>password</strong>.</p>

      <form action="/process-login" method="POST">
        <input type="text" placeholder="you@example.com" name="email">
        <input type="password" placeholder="secret password ! Shuuuut !" name="originalPassword">
        <input type="submit" value="Sign in">
      </form>
    </div>

    <div class="signup-invite">
      <p>Trying to sign up to Slack ? <a href="#0">Create a new account</a></p>
    </div>

  </main>

  <footer>

    <div class="links">

      <div class="link-section cat-1">
        <h4>Using Slack</h4>
        <ul>
          <li><a href="#0">Product</a></li>
          <li><a href="#0">Entreprise</a></li>
          <li><a href="#0">Pricing</a></li>
          <li><a href="#0">Support</a></li>
          <li><a href="#0">Slack Guides</a></li>
          <li><a href="#0">App Directory</a></li>
          <li><a href="#0">API</a></li>
        </ul>
      </div>



      <div class="link-section cat-2">
          <h4>Slack ♥</h4>
          <ul>
            <li><a href="#0">Jobs</a></li>
            <li><a href="#0">Customers</a></li>
            <li><a href="#0">Developers</a></li>
            <li><a href="#0">Events</a></li>
            <li><a href="#0">Blog</a></li>
            <li><a href="#0">Slack Shop</a></li>
          </ul>
        </div>

      <div class="link-section cat-3">
        <h4>Legal</h4>
        <ul>
          <li><a href="#0">Privacy</a></li>
          <li><a href="#0">Security</a></li>
          <li><a href="#0">Terms of Service</a></li>
          <li><a href="#0">Policies</a></li>
        </ul>
      </div>



      <div class="link-section cat-4">
        <h4>Handy links</h4>
        <ul>
          <li><a href="#0">Download desktop app</a></li>
          <li><a href="#0">Download mobile app</a></li>
          <li><a href="#0">Brand Guidelines</a></li>
          <li><a href="#0">Slack at Work</a></li>
          <li><a href="#0">Slack Guides</a></li>
          <li><a href="#0">Status</a></li>
        </ul>
      </div>

    </div>


  </footer>

</div>
</body>
</html>