<div class="workspace-choice">
  <h1>Your workspaces</h1>
  <div class="ws-list">
  {{#each workspaces}}
      <div class="ws-container">
      <img src="{{this.image}}">
      <p>{{this.name}}</p>
      </div>
  {{/each}}
  </div>
</div>