<div class="workspace-create">

  <h1>Create a new workspace</h1>

  <p class="desc">Workspace description</p>

  <form action="/workspace-create-process" method="POST">
    <label>Name</label>
    <input type="text" placeholder="Charming Company" name='workspaceName'>

    <input type="text" placeholder="Placeholder for file upload" name="imageUrl">

    <button>Create Workspace</button>
  </form>
</div>

