<!--Layout when connected to a workspace, but not a channel-->


<div class="info-for-user">

  <p>
    Join a Channel <br>to chitchat with your coworkers !
  </p>

  <!--<iframe src="https://giphy.com/embed/qVJDUpdAHqItG" frameBorder="0" class="giphy-embed" ></iframe>-->

  <img src="https://media.giphy.com/media/qVJDUpdAHqItG/giphy.gif" alt="">

</div>