.flash-success,
.flash-info,
.flash-error {
  padding: 10px;
  text-align: center;
  border: 2px solid #4D394B;
  font-size: 1.0rem;
  color: white;
  font-weight: 700; }

.flash-error {
  background-color: #b4374e; }

.flash-success {
  background-color: #008952; }

.flash-info {
  background-color: #007c89; }

* {
  padding: 0;
  margin: 0; }

html,
body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  font-size: 16px;
  font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
  background-color: #F9F9F9; }

ul {
  list-style-type: none; }

.container {
  height: 100%;
  position: relative; }

header {
  background-color: #FFFFFF;
  height: 70px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    header nav .home-logo {
      height: 115px;
      width: 106px;
      background: url("../images/header_logo_sprite@2x.png") left top no-repeat;
      background-size: 106px 60px;
      margin: 20px 0 0 1em;
      float: left; }
    header nav ul {
      display: flex;
      margin-right: 20px; }
      header nav ul li {
        margin-left: 9px;
        padding: 8px 7px;
        opacity: 0.8;
        font-weight: 700;
        cursor: pointer; }
        header nav ul li a {
          text-decoration: none;
          color: #717274;
          font-size: 0.9375rem; }
      header nav ul li:hover {
        background-color: #e5e5e5;
        border-radius: 5px; }
      header nav ul li.btn-signin {
        box-shadow: inset 0 0 0 2px #717274;
        border-radius: 5px;
        padding: 10px 14px; }
      header nav ul li.btn-signin:hover {
        background-color: #FFFFFF;
        box-shadow: inset 0 0 0 2px #565759; }
        header nav ul li.btn-signin:hover a {
          color: #565759; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 100px 0 300px 0; }
  main .form-container {
    background-color: #FFFFFF;
    width: 66%;
    max-width: 650px;
    padding: 32px 16px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
    border-radius: 0.25rem;
    color: #2c2d30;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    main .form-container .form-title h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 0.1px;
      text-align: center; }
    main .form-container .form-title p {
      margin-bottom: 1.5rem; }
    main .form-container p {
      text-align: center;
      margin-bottom: 1rem; }
    main .form-container form {
      display: flex;
      flex-direction: column;
      width: 66%; }
      main .form-container form input {
        font-size: 1.25rem;
        padding: .75rem;
        border: 1px solid #717274;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        color: #2c2d30;
        font-weight: 400; }
      main .form-container form input::placeholder {
        color: #cac4c9; }
      main .form-container form input:focus {
        outline: none; }
      main .form-container form input[type='submit'] {
        background-color: #008952;
        color: white;
        font-weight: 700;
        cursor: pointer;
        line-height: 1.2rem; }
  main .signup-invite p {
    color: #2c2d30; }
    main .signup-invite p a {
      text-decoration: none;
      color: #0576b9;
      font-weight: 700; }

footer {
  border-top: 1px solid #e8e8e8;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 40px; }
  footer .links {
    display: flex;
    justify-content: space-around; }
    footer .links li a {
      color: #8c8c94;
      text-decoration: none;
      line-height: 1.5rem;
      font-size: 0.82rem; }
    footer .links li a:hover {
      color: #b6b6be; }
    footer .links h4 {
      font-size: 0.6875rem;
      font-weight: 700;
      text-transform: uppercase; }
    footer .links .link-section.cat-1 h4 {
      color: #ff9000; }
    footer .links .link-section.cat-2 h4 {
      color: #e32072; }
    footer .links .link-section.cat-3 h4 {
      color: #008952; }
    footer .links .link-section.cat-4 h4 {
      color: #4b6bc6; }
