$color-primary: #2c2d30;
$color-secondary: #cac4c9;
$color-bg: #4D394B;
$color-bg-highlight: #3E313C;
$color-detail-text: #717274;
$color-green-bg: #008952;
$color-light-green-bg: #56B68B;

$side-bar-padding-left   : 15px;
$side-bar-padding-right  : 12px;
$side-bar-width          : 200px;


* { padding: 0; margin: 0; }
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; }

html, body {
  margin : 0;
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family:  NotoSansJP, Slack-Lato, appleLogo, sans-serif
}

ul{
  list-style-type: none;
}

.body-container{
  width: 100%;
  display: flex;
  height: 100%;
}

.side-bar-stick{
  position: fixed;
}

.side-bar{
  background-color: #4D394B;
  height: 100%;
  flex-basis: $side-bar-width ;
  flex-grow: 0;
  flex-shrink: 0;
  color: $color-secondary;

  h3 {
    margin: 0;
  }

  .header{

    margin: 15px 0;
    padding: 0 $side-bar-padding-right 0 $side-bar-padding-right;

    .switch-workspace {
      margin: 20px 0;
      font-weight: bold;
      a {
        text-decoration: none;
        color: $color-secondary;
      }
      a:hover{
        color: white;
      }
    }

    .workspace-div{
      display: flex;
      justify-content: space-between;
      align-items: center;

      a{
        text-decoration: none;
        color: $color-secondary;
        #workspace{
          color: white;
          cursor: pointer;
          margin: 3px 0;
          font-size: 1.1rem;
        }
        i:hover{
          color: white;
        }

      }



    }

    .user-status{
      display: flex;
      align-items: center;
      flex-grow: 1;

      cursor: pointer;
      font-size: 0.875rem;
      margin: 5px 0;

      i.fa-circle{
        font-size: 0.6rem;
        color: #38978D;
        margin-right: 5px;
      }

      span{
        flex-grow: 2;
        cursor: default;
      }

      a{
        text-decoration: none;
        color: $color-secondary;
        i.fa-sign-out-alt:hover{
          color: white;
        }
      }


    }
  }

  .separator{
    height: 18px;
  }

  >section{

    .title-section{
      display: flex;
      justify-content: space-between;
      margin-right: 12px;

      h3{
        font-size: 1rem;
        font-weight: 400;
        margin: 10px 0 3px 0;
        cursor: pointer;
        padding: 0 $side-bar-padding-right 0 $side-bar-padding-right;
      }
      h3:hover{
        color: white;
      }

      a{
        margin: 10px 0 3px 0;
        color: $color-secondary;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        h3 {
          margin: 0;
        }
      }

      a:hover{
        color: white;
      }

    }

    ul{
      li{
        padding: 0 $side-bar-padding-right 0 $side-bar-padding-right;
        height: 26px;
        display: flex;
        align-items: center;
        cursor: pointer;
        i{
          font-size: 0.6rem;
          color: #38978D;
        }
        a{
          span{
            margin-left: 5px;
            color: $color-secondary;
          }
          text-decoration: none;
        }
      }
      li:hover{
        background-color: #3E313C;

      }
    }
  }

}

section.main{
  width: 100%;
  height: 100%;
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .header{
    padding-left: 20.1px;
    height: 49px;
    border-bottom: 1px solid #cac4c9;
    flex-shrink: 0;

    .meta-conv{
      margin-top: 5px;
      font-size: 0.8rem;
      color: #717274;
      height: 24px;
      display: flex;

      .separator{
        padding: 0 5px;
      }

      .add-user{
        a{
          text-decoration: none;
          color: $color-detail-text;
        }

        a:hover{
          color: $color-green-bg;
        }
      }
    ;
    }

  }

  .message-container{
    margin-top: 10px;

    flex-grow: 1;
    flex-shrink: 1; /* 2 */
    overflow: scroll;
    display: block;

    position: relative;

    ul{
      position: absolute;
      bottom: 0;

      li{
        padding: 8px 0;
        margin: 0 70px 0 20px;
        display:flex;

        .avatar{
          height: 38px;
          width: 38px;
          padding-right: 8px;

          img{
            height: 100%;
            width: 100%;
            border-radius: 5px;
          }
        }

        .msg{

          .msg-metatdata{
            display:flex;
            align-items: flex-end;

            .msg-sender{
              font-size: 0.9375rem;
              font-weight: 700;
              padding-right: 5px
            }

            .msg-sending-time{
              font-size: 0.75rem;
              color: #717274;
            }

          }

          .msg-content{
            margin-top: 8px;
            font-size: 0.9375rem;
            color: #2c2d30;
          }

        }

      }

    }


  }

  .input-container{
    height: 66px;
    flex-shrink: 0;
    //margin-bottom: 10px;

    .input{
      height: 40px;
      width: 95%;
      border: 2px solid #717274;
      margin: 0 auto;
      border-radius: 5px;
      display: flex;
      flex-grow: 1;

      .btn-attachment{
        height: 100%;
        width: 40px;
        color: #717274;
        flex-grow: 0;
        flex-basis: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        //font-weight: 700;
        cursor: pointer;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border-right: 2px solid #717274;
      }

      .btn-attachment:hover{
        background-color: #56B68B;
        color: white;
        background-size: cover;
      }

      input{
        flex-grow: 2;
        font-size: 1.0rem;
        font-weight: 300;
        padding-left: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: none;
      }

      input::placeholder{
        font-size: 0.875rem;
        letter-spacing: 0.3px;
      }

    }


  }

  .channel-create{

    margin: 20% auto 0 auto;

    width: 80%;
    max-width: 640px;
    display: flex;
    flex-direction: column;

    h1{
      font-size: 2.125rem;
      margin-bottom: 1rem;
      color: $color-primary;
    }

    p.desc{
      font-size: 0.9rem;
      color: $color-detail-text;
      margin-bottom: 1.5rem;
      letter-spacing: 0.02em;
    }

    p.invite{
      font-size: 1.0rem;
      color: $color-primary;
      margin-bottom: 1.5rem;
    }
    form{
      margin-bottom: 1.0rem;
      .input-element{
        display: flex;
        flex-direction: column;

        label{
          font-weight: 700;
          font-size: 1.0rem;
          margin-bottom: 0.25rem;
        }

        .input-container{
          border: 1px solid $color-detail-text;
          box-shadow: inset 0 0 0 1px rgba(44,45,48,.3);
          display: flex;
          align-items: center;
          width: 100%;
          height: 3.1rem;
          flex-grow: 1;
          border-radius: 5px;
          i{
            margin-left: 20px;
            color: $color-detail-text
          }
          input{
            padding: 12px;
            font-size: 1.125rem;
            color: $color-primary;
            border: 0;
            flex-grow: 2;
          }
          input:focus{
            outline: none;
          }

        }

        p.info-form{
          margin-top: 0.25rem;
          margin-bottom: 1.0rem;
          color: $color-detail-text;
          font-size: 0.8rem;
        }

        .buttons{
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-top: 1.5rem;

          .btn-form{
            padding: 0.875rem 1.125rem 1.0rem 1.125rem;
            text-decoration: none;
            border: 1px solid $color-detail-text;
            font-size: 1.25rem;
            font-weight: 700;
            margin-left: 0.5rem;
            border-radius: 0.3rem;
            cursor: pointer;
            box-shadow: inset 0 0 0 1px rgba(44,45,48,.3);
          }

          .btn-submit{
            background-color: $color-green-bg;
            color: white;
          }

          .btn-cancel{
            color: $color-primary;
          }

        }

      }

    }

  }

  .duo-channel-create,

  .channel-invite{
    //margin-top: 25%;
    height: 100%;
    width: 100%;

    //REQUIRED FOR TYPEAHEAD
    .tt-hint {
        color: #999;
    }
    .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
      margin-top: 12px;
      padding: 8px 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
      cursor: pointer;
      font-weight: 400;
    }
    .tt-suggestion {
        padding: 3px 20px;
        font-size: 1.125rem;
        line-height: 24px;
    }
    .tt-suggestion:hover{
      background-color: $color-light-green-bg;
      color: white;
    }
    .tt-suggestion p {
        padding: 0.75rem;
        margin: 0;
    }
    .user-match{
      display: flex;
      align-items: center;
      img{
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 0.5rem;
      }


    }

    .form-container{

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 15% auto;
      max-width: 660px;

      h1{
        color: $color-primary;
        font-size: 2.125rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
      >p{
        text-align: center;
        margin-bottom: 2.0rem;
        color: $color-detail-text;
        font-size: 0.9rem;
      }

      form{
        width: 100%;
        display: flex;

        //flex-wrap: wrap;

       #bloodhound{
        width: 100%;

        input.user-search-bar{
          border: 1px solid $color-detail-text;
          box-shadow: inset 0 0 0 1px rgba(44,45,48,.3);
          font-size: 1.125rem;
          padding: 0.75rem;
          width: 100%;
          color: $color-primary;
          border-radius: 5px;
          box-sizing: border-box;

        }
        input.user-search-bar:focus{
          outline: none;
        }
       }

      button{
          border:none;
          margin-left: 1.0rem;
          min-width: 80px;
          background-color: $color-green-bg;
          color: white;
          font-size: 1.25rem;
          font-weight: 700;
          border-radius: 0.25rem;
          cursor: pointer;
        }

      }

    }

  }

  .info-for-user{
    margin: 10% auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    p{
      font-size: 1.5rem;
      text-align: center;
      color: $color-primary;
      font-weight: 700;
    }


    img{
      margin-top: 3%;
      width: 30%;
    }

  }

}

.workspace-choice {
  margin-left: $side-bar-width;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto 0 auto;
    width: 80%;
    max-width: 640px;
    h1 {
      margin-bottom: 1rem;
    }
    p.desc{
      font-size: 0.9rem;
      color: $color-detail-text;
      margin-bottom: 1.5rem;
      letter-spacing: 0.02em;
    }

    p.create{
      font-size: 1.0rem;
      color: $color-primary;
      margin-bottom: 1.5rem;
    }
    .btn-create{
      padding: 0.875rem 1.125rem 1.0rem 1.125rem;
      text-decoration: none;
      border: 1px solid $color-detail-text;
      font-size: 1.25rem;
      font-weight: 700;
      border-radius: 0.3rem;
      cursor: pointer;
      box-shadow: inset 0 0 0 1px rgba(44,45,48,.3);
      background-color: $color-green-bg;
      color: white;
    }
  }
  .main-section{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    h1{
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 2.125rem;
      margin-bottom: 1rem;
      color: $color-primary;
    }
    .ws-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      a {
        width: 40%;
        .ws-container {
          display: flex;
          align-items: center;
          border-left: 4px solid $color-secondary;
          margin-bottom: 20px;
          height: 120px;
          img {
            width: 80px;
            height: 80px;
            padding: 0 20px;
          }
          .ws-details {
            display: flex;
            flex-direction: column;
            h3 {
              font-size: 1.4rem;
            }
            p {
              font-weight: 400;
              color: $color-detail-text;
              margin-top: 0.2rem;
            }
          }
        }
      }
    }
  }
}

.workspace-create {
  margin-left: $side-bar-width;
  display: flex;
  .main-section{
    width: 100%;
    height: 100%;
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    >h1{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    >p{
      margin-bottom: 50px;
    }
    label {
      display: block;
    }
  }
}