* {
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: NotoSansJP, Slack-Lato, appleLogo, sans-serif;
}

ul {
  list-style-type: none;
}

.body-container {
  width: 100%;
  display: flex;
  height: 100%;
}

.side-bar {
  background-color: #4D394B;
  height: 100%;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  color: #cac4c9;
}
.side-bar .header {
  margin: 15px 0;
  padding: 0 12px 0 12px;
}
.side-bar .header #workspace {
  color: white;
  cursor: pointer;
  margin: 3px 0;
  font-size: 1.1rem;
}
.side-bar .header .user-status {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  font-size: 0.875rem;
  margin: 5px 0;
}
.side-bar .header .user-status i.fa-circle {
  font-size: 0.6rem;
  color: #38978D;
  margin-right: 5px;
}
.side-bar .header .user-status span {
  flex-grow: 2;
  cursor: none;
}
.side-bar .header .user-status a {
  text-decoration: none;
  color: #cac4c9;
}
.side-bar .header .user-status a i.fa-sign-out-alt:hover {
  color: white;
}
.side-bar .separator {
  height: 18px;
}
.side-bar > section .title-section {
  display: flex;
  justify-content: space-between;
  margin-right: 12px;
}
.side-bar > section .title-section h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0 3px 0;
  cursor: pointer;
  padding: 0 12px 0 12px;
}
.side-bar > section .title-section h3:hover {
  color: white;
}
.side-bar > section .title-section a {
  margin: 10px 0 3px 0;
  color: #cac4c9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.side-bar > section .title-section a:hover {
  color: white;
}
.side-bar > section ul li {
  padding: 0 12px 0 12px;
  height: 26px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.side-bar > section ul li i {
  font-size: 0.6rem;
  color: #38978D;
}
.side-bar > section ul li a {
  text-decoration: none;
}
.side-bar > section ul li a span {
  margin-left: 5px;
  color: #cac4c9;
}
.side-bar > section ul li:hover {
  background-color: #3E313C;
}

section.main {
  width: 100%;
  height: 100%;
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.main .info-for-user {
  margin: 10% auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.main .info-for-user p {
  font-size: 1.5rem;
  text-align: center;
  color: #2c2d30;
  font-weight: 700;
}
section.main .info-for-user img {
  margin-top: 3%;
  width: 30%;
}
section.main .header {
  padding-left: 20.1px;
  height: 49px;
  border-bottom: 1px solid #cac4c9;
  flex-shrink: 0;
}
section.main .header .meta-conv {
  margin-top: 5px;
  font-size: 0.8rem;
  color: #717274;
  height: 24px;
  display: flex;
}
section.main .header .meta-conv .separator {
  padding: 0 5px;
}
section.main .message-container {
  margin-top: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  /* 2 */
  overflow: scroll;
  display: block;
  position: relative;
}
section.main .message-container ul {
  position: absolute;
  bottom: 0;
}
section.main .message-container ul li {
  padding: 8px 0;
  margin: 0 70px 0 20px;
  display: flex;
}
section.main .message-container ul li .avatar {
  height: 38px;
  width: 38px;
  padding-right: 8px;
}
section.main .message-container ul li .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
section.main .message-container ul li .msg .msg-metatdata {
  display: flex;
  align-items: flex-end;
}
section.main .message-container ul li .msg .msg-metatdata .msg-sender {
  font-size: 0.9375rem;
  font-weight: 700;
  padding-right: 5px;
}
section.main .message-container ul li .msg .msg-metatdata .msg-sending-time {
  font-size: 0.75rem;
  color: #717274;
}
section.main .message-container ul li .msg .msg-content {
  margin-top: 8px;
  font-size: 0.9375rem;
  color: #2c2d30;
}
section.main .input-container {
  height: 66px;
  flex-shrink: 0;
}
section.main .input-container .input {
  height: 40px;
  width: 95%;
  border: 2px solid #717274;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
}
section.main .input-container .input .btn-attachment {
  height: 100%;
  width: 40px;
  color: #717274;
  flex-grow: 0;
  flex-basis: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-right: 2px solid #717274;
}
section.main .input-container .input .btn-attachment:hover {
  background-color: #56B68B;
  color: white;
  background-size: cover;
}
section.main .input-container .input input {
  flex-grow: 2;
  font-size: 1rem;
  font-weight: 300;
  padding-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
section.main .input-container .input input::placeholder {
  font-size: 0.875rem;
  letter-spacing: 0.3px;
}
section.main .channel-create {
  margin: 20% auto 0 auto;
  width: 80%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}
section.main .channel-create h1 {
  font-size: 2.125rem;
  margin-bottom: 1rem;
  color: #2c2d30;
}
section.main .channel-create p.desc {
  font-size: 0.9rem;
  color: #717274;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02em;
}
section.main .channel-create p.invite {
  font-size: 1rem;
  color: #2c2d30;
  margin-bottom: 1.5rem;
}
section.main .channel-create form {
  margin-bottom: 1rem;
}
section.main .channel-create form .input-element {
  display: flex;
  flex-direction: column;
}
section.main .channel-create form .input-element label {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
section.main .channel-create form .input-element .input-container {
  border: 1px solid #717274;
  box-shadow: inset 0 0 0 1px rgba(44, 45, 48, 0.3);
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.1rem;
  flex-grow: 1;
  border-radius: 5px;
}
section.main .channel-create form .input-element .input-container i {
  margin-left: 20px;
  color: #717274;
}
section.main .channel-create form .input-element .input-container input {
  padding: 12px;
  font-size: 1.125rem;
  color: #2c2d30;
  border: 0;
  flex-grow: 2;
}
section.main .channel-create form .input-element .input-container input:focus {
  outline: none;
}
section.main .channel-create form .input-element p.info-form {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  color: #717274;
  font-size: 0.8rem;
}
section.main .channel-create form .input-element .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.5rem;
}
section.main .channel-create form .input-element .buttons .btn-form {
  padding: 0.875rem 1.125rem 1rem 1.125rem;
  text-decoration: none;
  border: 1px solid #717274;
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px rgba(44, 45, 48, 0.3);
}
section.main .channel-create form .input-element .buttons .btn-submit {
  background-color: #008952;
  color: white;
}
section.main .channel-create form .input-element .buttons .btn-cancel {
  color: #2c2d30;
}

/*# sourceMappingURL=styles.css.map */
